.filters__container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.filters__search {
  width: 60%;
  max-width: 570px;
  height: 38px;
}

@media (max-width: 730px) {
  .filters__search {
    width: 100%;
  }
}
