.statistics {
  background: var(--bg-color);
  width: 250px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  margin-left: 100px;

  @media (min-width: 830px) {
    animation: statisticsAnimation 1s ease-in-out;
  }

  @media (max-width: 830px) {
    width: 100%;
    margin-left: 0;
  }
}

.statistics__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 20px 15px 20px 15px;
}

.statistics__item {
  color: var(--primary-color);
  font-size: var(--font-md);
  font-weight: var(--font-weight-regular);
  width: 100%;
}

@keyframes statisticsAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%) scale(0);
  }
  40% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
